[submodule "logs"]
	path = logs
	url = git@github.com:jowi-dev/logs.git
[submodule "nvim/pack/nvim-lspconfig/start"]
	path = nvim/pack/nvim-lspconfig/start
	url = https://github.com/neovim/nvim-lspconfig.git
