[submodule "nvim/pack/plugins/start/nvim-lspconfig"]
	path = nvim/pack/plugins/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "nvim/pack/plugins/start/nvim-treesitter"]
	path = nvim/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/pack/plugins/start/LuaSnip"]
	path = nvim/pack/plugins/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip.git
[submodule "nvim/pack/plugins/start/nvim-tag-stack"]
	path = nvim/pack/plugins/start/nvim-tag-stack
	url = https://github.com/jowi-dev/nvim-context-panel.git
